<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    
    <link rel="icon" href="/favicon.ico">

    <title>Tabla de Posiciones</title>

    <meta property="og:site_name" content="Tabla de posiciones. Liga de futbol profesional Argentino">
    <meta property="og:image:alt" content="¡¡Chequea las posiciones de la liga de futbol profesional Argentina!!">
    <meta property="og:image" content="https://tablasfb.herokuapp.com/img/Captura.PNG">
    <meta name="description" content="Tabla de posiciones de la liga de futbol Argentina" />
    <meta name="author" content="Victor Lovera" />
    <meta name="copyright" content="Victor Lovera" />
    <meta name="keywords" content="Primera División de Argentina, Tabla de Posiciones Primera División de Argentina, Tabla de Posiciones Primera División de Argentina Liga Profesional, Tabla de Posiciones Primera División de Argentina temporada Liga Profesional">
    <meta name="language" content="spanish">
    <meta name="geo.region" content="AR">
    <meta name="geo.placename" content="Argentina">
</head>

<body>

    <header class="header">

        <div class="header-nav">

            <div class="header-logo">
                <p>Liga Profesional de Futbol Argentino</p>
            </div>

            <div class="header-link">
                <a href="#">Inicio</a>
            </div>

        </div>

    </header>
    <section class="anuncio">
        <div class="anuncio-img"></div>
    </section>

    <main class="tabla">
        <header class="tabla-header">
            <h1>LIGA PROFESIONAL</h1>
            <h2>Argentina</h2>
            <h3>TABLA DE POSICIONES</h3>
        </header>

        <section>
            <div class="tabla-posicion">
                <table>
                    <tr class="bg-team">
                        <th>POS</th>
                        <th>Equipo</th>
                        <th>PJ</th>
                        <div class="delete">
                            <th class="delete">G</th>
                            <th class="delete">E</th>
                            <th class="delete">P</th>
                            <th class="delete">GF</th>
                            <th class="delete">GC</th>
                        </div>
                        <th>DG</th>
                        <th>Pts</th>
                    </tr>

                    {{#each teams}}
                    <tr class= "{{#lessThan @index 3}}top3{{/lessThan}}">
                        <td class="bg-team">{{pos}}</td>
                        <td class="hideShow"><img src="{{team.logo}}">
                            <div class="show">{{team.shortName}}</div>
                            <div class="delete">{{team.longName}}</div>
                        </td>
                        <td class="bg-team">{{pj}}</td>
                        <div>
                            <td class="delete">{{g}}</td>
                            <td class="delete">{{e}}</td>
                            <td class="delete">{{p}}</td>
                            <td class="delete">{{gf}}</td>
                            <td class="delete">{{gc}}</td>

                        </div>
                        <td>{{dg}}</td>
                        <td class="bg-team">{{pts}}</td>
                    </tr>
                    {{/each}}




                </table>

            </div>
        </section>
    </main>



    <footer class="footer">
        <div>
            <p>©Victor Lovera Todos los derechos reservados.</p>
        </div>

    </footer>

</body>

</html>